**/.DS_Store
**/.idea/
**/.project
**/.vscode
**/.yardoc
**/.yardoc
**/*.gemspec
/.bundle/
/.yardoc
/Gemfile*
/_yardoc/
/coverage/
/doc/
/log/
/pkg/
/spec/reports/
/test_results/
/tmp/
/tmp/
/vendor/
